* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

main {
    width: 600px;
    background-color: #CCCCCC;
    border-top: 4px solid black;
    margin: 120px auto 0 auto;
    overflow: auto;
}

.pokedex-card {
    background-color: white;
    border: 1px solid #FFF;
    padding: .5rem 1rem;
    height: 120px;
    max-width: 480px;
    border-radius: .3rem;
    margin: 1rem auto;
    box-shadow: 0 3px #000;
    position: relative;
}

h1 {
    font-size: 1.25rem;
    margin: .5rem auto;
}

.type-pill{
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    padding: .25rem 3rem .25rem 1rem;
    border-radius: 5px;
    width: 100px;
}

.type-pill.grass {
    background-color: #0EB225;
}

.type-pill.poison {
    background-color: #580EB2;
}

.type-pill.fire {
    background-color: #FF4500;
}

.type-pill.flying {
    background-color: #8A42E1;
}


.pokemon-image{
    width: 50px;
    position: absolute;
    top: 40px;
    right: 80px;
}

.pokemon-number {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}