* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri Light' , sans-serif;
}

nav {
    width: 100%;
    background-color: #3C3C3C;

    /* Position fixed plaatst zich voor de tekst */
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    list-style-type: none;
}

/*  Inline-block om langs elkaar te zetten */
nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 30px;
    text-decoration: none;
    color: #FFF;
}

nav ul li a:hover {
    background-color: #e576a2;
}

main {
    width: 800px;
    background-color: #f1f1f1;
    margin: 80px auto 0 auto;
    /* Margin (TOP) om hoogte navbar op te vangen !! */
    padding: 30px;
}

main p {
    margin-bottom: 25px;
}

aside {
    background-color: #2C2C2C;
    /*  positie toegevoegd van de aside */
    position: fixed;
    bottom: 0;
    right: 30px;
}

aside a {
    display: inline-block;
    padding: 25px;
    color: #FFF;
    text-decoration: none;
}

aside a:hover {
    background-color: #e576a2;
}

